<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <display-name>MyGrowth</display-name>

	<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.shtml</welcome-file>
  </welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-config.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-config-mvc.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>yzm</servlet-name>
		<servlet-class>yanzm.custom.YzmServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestCookie</display-name>
		<servlet-name>TestCookie</servlet-name>
		<servlet-class>com.lwk.web.cookie.TestCookie</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetCookie</display-name>
		<servlet-name>GetCookie</servlet-name>
		<servlet-class>com.lwk.web.cookie.GetCookie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletDemo</servlet-name>
		<servlet-class>com.lwk.web.servlet.ServletDemo</servlet-class>
	</servlet>
	 <servlet-mapping>
		 <servlet-name>ServletDemo</servlet-name>
		 <url-pattern>/lwkservlet</url-pattern>
	 </servlet-mapping>

	<servlet-mapping>
		<servlet-name>yzm</servlet-name>
		<url-pattern>/yzm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestCookie</servlet-name>
		<url-pattern>/TestCookie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCookie</servlet-name>
		<url-pattern>/GetCookie</url-pattern>
	</servlet-mapping> 
	

	<!-- Spring mvc  END--> 
</web-app>
